@font-face {
    font-family:"kust";
    src: url("fonts/kust.woff")
}
h1 {
    color:blue;
    font-family:"kust";
}
.newp {
    color:brown;
}

.newp2 {
    color:pink;
}

.newp1 {
    color:cyan;
}
